body{
    background-color: black;
    text-align: center;
    color: rgb(135, 135, 135); 
    font-family: Montserrat, sans-serif;

}

.header img{
    height: 200;
    margin-bottom: -50;
}

h1{
    font-family: Linotype Didot, serif;
    font-weight: 500;
    font-size: 60;
    line-height: 0.8;
    color: white;
}

h4{
    font-weight: 80;
    font-size: 20;
    letter-spacing: 1px;
}

.body{
    font-size: 15;
    margin-top: 50px;  
}

input[type="text"] {
    width: 70%;                
    padding: 10px 20px;
    border: none;
    border-radius: 10px;        
    background-color: rgb(53, 53, 53); 
    font-size: 15;  
    letter-spacing: 1.3px;   
}

input[type="submit"] {
    border-radius: 10px;
    border: none;
    color: white;
    background-color: black;
    padding: 5px 10px;
    font-size: 15;  
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
}
input[type="submit"]:hover {
  background-color: #222;
  transform: scale(1.05); 
}

.download{
    padding: 6em;
}

input[type="button"] {
    border-radius: 25px;
    border: none;
    padding: 10px 25px;
    margin: 0 10px;
    font-size: 15;
    letter-spacing: 1.1px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

input[type="button"]:hover {
  transform: scale(1.05); 
}

#portfolio{
    color: white;
    background-color: black;
    letter-spacing: 2px;
    font-weight: 0.5em;
}

.footer{
    font-size: 12px;
}

a{
    color: rgb(135, 135, 135); 
    text-decoration: none;

}
a:hover{
    color: rgb(188, 185, 185); 
}